#imooclist{
   margin: 36px 0;
}
.listbank{
    width: 1152px;
    height: 490px;
    padding-top: 0;
    padding-bottom: 32px;
    padding-left: 0;
    padding-right: 0;
    /* 删除 */
background-color: #F5F7FA;
}
.list-list{
    width: 1162px;
    height: 36px;
    padding: 30px 0;
    /* 删除 */
background-color: #F5F7FA;
}
.list-list>img{
    width:170px;
    height: 35px;
    padding-right: 45px;
}
.list-list span{
    font-weight:lighter;
    font-size: 16px;
    color: #9199a1;
    position: relative;
    top: 10px;
}
.list-body{
    width: 1162px;
    height: 420px;
background-color: #F5F7FA;
    /* background-color: darkgoldenrod; */
 
}
.list-plate{
    height: 400px;
    width: 367px;
    background-color: #fff;
    position: relative;
   margin:0 10px;
    box-shadow: 0 6px 12px 0 rgb(55 55 55 / 20%);
    border-radius: 8px;

}
.line{
    position: absolute;
    width: 129px;
    height: 43px;
    background-size: cover;
    font: 16px/1.5 "PingFang SC","微软雅黑","Microsoft YaHei",Helvetica,"HelveticaNeue",Tahoma,Arial,sans-serif;
    left: 50%;
    color: white;
    font-weight: 700;
    transform: translateX(-50%);
    text-align: center;
    line-height: 30px;
    top:-12px;

    
}

 .st1 {
    background-image: url(../images/list/ranking1\ .png);
    
}

.st2 {
    background-image: url(../images/list/ranking2\ .png);

}
.st3 {
    background-image: url(../images/list/ranking3\ .png);

}
.col{
    width: 367px;
    height: 80px;
    display: block;
    padding-bottom: 20px;
  
}
.col >.rate{
    display: inline-block;
    width: 19px;
    height: 22px;
    padding: 0 10px;
    position: relative;
top: 50%;
transform: translateY(-50%);
} 
.special{
    margin-top: 62px;
}
.col>.imgg{
width: 142px;
height: 80px;
margin-right: 10px;
display: inline-block;
border-radius: 8px;
}
.superbox{
    display: inline-block;
}
.col>.superbox>div{
    display:block;
    font-size: 10px;
    color:black;
}
.col>.superbox>.header{
    width: 144px;
    height: 40px;
    padding-bottom: 2px;
}
.col>.superbox>.price{
    width: 144;
    height: 18px;
    font-weight:700 ;
    color: crimson;
    padding-bottom: 2px;
}
.col>.superbox>.people{
    width: 144px;
    height: 18px;
    color: #9199a1;
    padding-bottom: 2px;
}
.all{
    display: block;
    text-align: center;
    width: 120px;
    height: 24px;
    background-color: crimson;
    border-radius: 8px;
    margin: 0 auto;
    font-size: 8px;
    line-height: 24px;
    color: #fff;
}