#sr {
    margin: 20px 0;
    padding-bottom: 48px;

}

.sr-body {
    width: 1152;
    height: 462px;

    /* 删除 */
    /* background-color: blue; */
}

.sr-header {
    width: 972px;
    height: 36px;
    padding: 30px 0;
background-color: #F5F7FA;
}

.sr-header>img {
    height: 36px;
    width: 180px;
    position: relative;
}

.sr-header a {
    font-size: 14px;
    color: black;
    font-weight: lighter;
    padding: 0 10px;
    display: inline-block;
    margin-top: 10px;
    transition: .3s;
}

.sr-list {
    width: 1182px;
    height: 568px;

}

/* 更改! */
.sr-current>li {
    background-color: #fff;
    width: 368px;
    height: 178px;
    border-radius: 8px;
    box-shadow: 0 6px 10px 0 rgb(95 101 105 / 15%);
    margin-right: 24px;
    margin-bottom: 24px;
}

.sr-current>li:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .3);
    cursor: pointer;
}

.sr-list img {
    height: 90px;
    width: 368px;
    margin-bottom: 8px;
    border-radius: 8px;


}

.sr-title  {
    color: black;

    width: 358px;
    height: 40px;
    padding: 8px;
    margin-bottom: 8;

    line-height: 20px;
    font-size: 14px;
}

.sr-left-difficulty {

    display: inline;
    width: 294px;
    height: 16px;
    margin-bottom: 8px;
    padding: 0 8px;

    font-size: 12px;
}

.sr-right-difficulty {
    display: inline;
    width: 294px;
    height: 16px;
    margin-bottom: 8px;
    margin-left: 200px;
    font-size: 12px;
}


.sr-header .active {
    border-bottom: 2px red solid;
    font-weight: 700;
    padding-bottom: 5px;
}

.sr-list .show {
    display: block;
}

/* 更改! */
.sr-current {
    display: none;
    transition: .3s;
}

/* 添加方法:在div添加pp,div里第一个加上<img src="../imagines/newly.png" alt="" class="niu"> */
.niu {
    position: absolute;
    right: 0;
    z-index: 999;
    width: 70px !important;
    height: 30px !important;
}

.pp {
    position: relative;
}

/* *** */