@font-face {
  font-family: "iconfont";
  /* Project id 3860962 */
  src: url('iconfont.woff2?t=1673859822534') format('woff2'),
    url('iconfont.woff?t=1673859822534') format('woff'),
    url('iconfont.ttf?t=1673859822534') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;

  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibo-copy:before {
  font-size: 32px;
  content: "\e65a";
}

.icon-weixin-copy:before {
  font-size: 32px;
  content: "\e65b";
}

.icon-shoucang:before {
  font-size: 32px;
  content: "\e6e7";
}

.icon-QQkongjian:before {
  font-size: 32px;
  content: "\e674";
}

.icon-shizhong:before {

  content: "\e74f";
}

.icon-sanjiaoyou:before {
  font-size: 0.11px;
  content: "\e645";
}

.icon-gouwuche:before {
    font-size: 25px;
  content: "\e70b";
}

.icon-sousuo:before {
    font-size: 16px;
  content: "\e600";
}